<div class="container">
    <carousel>
        <slide>
            <img class="images" src="https://assets-in.bmscdn.com/promotions/cms/creatives/1688982917795_sisuweb.jpg"
                alt="Slide 1">
        </slide>
        <slide>
            <img class="images" src="https://assets-in.bmscdn.com/promotions/cms/creatives/1687328911358_webbannernpa.jpg"
                alt="Slide 2">
        </slide>

        <slide>
            <img class="images" src="https://assets-in.bmscdn.com/promotions/cms/creatives/1689339891754_streamsavedesktop.jpg" alt="">
        </slide>


    </carousel>
</div>