<nav class="navbar">
  <div (click)="getHome()" style="cursor: pointer;">
    <div class="logo">
      <span class="logo-icon">G</span>
      <span class="logo-text">oBooker</span>
    </div>
  </div>

  <div class="form-controls" (click)="onClickChange()">
    <input type="text" placeholder="Search Movies By Name" />
  </div>

  <div class="form-controls2">
    <select [(ngModel)]="this.fetcher.getLocation" (change)="getChange()">
      <option value="" disabled selected>Select a location</option>
      <option value="Delhi NCR">Delhi NCR</option>
      <option value="Ahmedabad">Ahmedabad</option>
      <option value="Bangalore">Bengaluru</option>
      <option value="Chandigarh">Chandigarh</option>
      <option value="Chennai">Chennai</option>
      <option value="Hyderabad">Hyderabad</option>
      <option value="Kolkata">Kolkata</option>
      <option value="Mumbai">Mumbai</option>
      <option value="Jaipur">Jaipur</option>
      <option value="Ghaziabad">Ghaziabad</option>
      <option value="Indore">Indore</option>
    </select>
  </div>


  <div>

    <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <div class="twoBtn">
        <button class="btn btn-outline-warning ml-2" type="button" (click)="profile()">Profile</button>&nbsp;
        <button class="btn btn-outline-warning ml-2" type="button" (click)="auth.logout()">Log out</button>
      </div>
    </div>


    <ng-template #loggedOut>
      <div>
        <button #loggedOut class="btn btn-outline-warning ml-2" type="button" (click)="auth.loginWithRedirect()">Log
          in</button>
      </div>
    </ng-template>

  </div>

</nav>


<div *ngIf="value">
  <div class="search">
    <div style="text-align: end; padding: 1%;">
      <span (click)="onClickChange()"> <i class="fa-solid fa-x"></i></span>
    </div>

  </div>
</div>